.header-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  background-color: rgb(226, 224, 224);
  padding: 10px 0px;
}

.header-logo {
  width: 80px;
}

.header-text {
  font-weight: bold;
}
